.Python
.venv
pip-selfcheck.json

notes.txt
icon_64.ico
icon_128.ico
icon_256.ico

old

logging/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.cpython-39.pyc
